.header-wrap {
  background-color: #3684c9;
  padding: 50px;
  color: #fff;
}

.header-wrap p {
  font-size: 16px;
}

.header-wrap p, .summary-section, .exp-section,.edu-section,.skill-section {
  max-width: 1000px;
  margin: 0 auto;
}

.header-wrap h1 {
  max-width: 1000px;
  margin: 0.25em auto 0.75em auto;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 3em;
}

.summary-section, .exp-section,.edu-section,.skill-section {
  padding: 15px 50px 20px 50px;
  color: #222;
}

h2.sub-heading {
  color: #1777cb
}

.list-table-title {
  background: #f4f4f4;
  height: 2.5em;
  line-height: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid #b4b4b4;
}

.list-table-title span:nth-child(2) {
  float: right;
  font-weight: bold;
}

.list-table-title span:nth-child(1) {
  float: left;
  font-weight: bold;
}

.list-table-description {
  border-left: 1px solid #b4b4b4;
  border-right: 1px solid #b4b4b4;

}

.list-table-description ul {
  clear: both;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 1em 1em 1em 4em;
}

.list-table-description ul li {
  line-height: 1.5;
}

.list-table div:nth-last-child(1) .list-table-description {
  border-bottom: 1px solid #b4b4b4;
}

.edu-section .list-table-edu {
  border-top: 1px solid #b4b4b4;
}

.edu-section .list-table-edu:nth-last-child(1) {
  border-bottom: 1px solid #b4b4b4;
}

.edu-section .list-table-edu header {
  background: #f4f4f4;
  height: 2.5em;
  line-height: 2.5em;
  border-bottom: 1px solid #b4b4b4;
  padding-left: 1em;
  font-weight: bold;
}

.edu-section .list-table-edu header+div{
  padding-left: 1em;
  line-height: 2.5em;
}

.edu-section .list-table-edu div span:nth-child(1) {
  font-weight: 500;
}

.skill-section ul {
  padding-left: 0;
  border-top: 1px solid #b4b4b4;
  border-right: 1px solid #b4b4b4;
  border-left: 1px solid #b4b4b4;
}
.skill-section ul li {
  list-style: none;
  line-height: 2.5em;
  border-bottom: 1px solid #b4b4b4;
}
.skill-section ul li span:first-child {
  border-right: 1px solid #b4b4b4;
  background: #f4f4f4;
  display: inline-block;
  line-height: 2.5em;
  padding: 0 1em 0 1em;
  width: 4em;
}
.skill-section ul li span:last-child {
  display: inline-block;
  line-height: 2.5em;
  padding: 0 1em 0 1em;
}

@media screen and (max-width: 600px) {
  .skill-section ul li span:first-child {
    border-bottom: 1px solid #b4b4b4;
    display: block;
    width: inherit;
  }
}
